@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


.container {
    position: relative;
}

.edge-effect {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #0078d7;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edge-effect::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.2);
    transition: opacity 0.3s;
    pointer-events: none;
}

.edge-effect:hover {
    background-color: #005a9e;
}

.edge-effect:active {
    background-color: #004d8c;
}

.edge-effect:active::after {
    opacity: 1;
}

.popup {
    width: 300px;
    height: 150px;
    position: absolute !important;
    top: 100%;
    left: 50%;
    border-radius:5%;
    background-color: #4D4D4D;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    align-content: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Share Tech Mono', monospace;
    /* transition: opacity 0.3s, visibility 0s linear 0.3s; */
}

.popup>div{
    background-color: #000000;
    border-radius: 5%;
    color: aliceblue;
    width: 50%;
    height: 20%;
    overflow: scroll;
    overflow-x: hidden;
}

div::-webkit-scrollbar{
    display: none;
}
.popup>div>p{
    text-align: center;
    align-content: center;
    font-family: 'Share Tech Mono', monospace;
}

.popup.active {
    visibility: visible;
    transition-delay: 0s;
    display: flex;
}

